# Додаткове завдання з pandas
Вітаю! В цьому завданні будемо працювати з даними з опитування щодо зарплат ІТ спеціалістів на рексурсі DOU від грудня 2022 року. Впевнена, це буде цікаве дослідження, а заразом і практика pandas :)
Цей аналіз може бути корисним людині, яка обирає напрям роботи в ІТ і хоче зрозуміти тенденції. За якісного виконання цього аналізу, цей проєкт можна сміливо додавати у Ваше портфоліо!

1. Зчитайте дані з файлу `2022_dec_raw.csv`. Увага! Тут необхідно використати аргумент `pd.read_csv` `sep=';'`, бо розділювач в даних - крапка з комою.

In [886]:
import numpy as np
import pandas as pd

In [887]:
df = pd.read_csv('data/2022_dec_raw.csv', sep=';')

In [888]:
df

,Timestamp,Ви працюєте зараз в ІТ?,Де ви зараз живете?,В якій області ви зараз живете?,"Зарплата у $$$ за місяць, лише ставка після сплати податків",Ваша стать,Ваш вік,Яка у вас освіта?,Чи є у вас науковий ступінь?,Знання англійської мови,...,Ваша посада4,Ваша посада5,Ваша посада6,Ваша посада7,Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?,Основна мова програмування,Вкажіть вашу основну спеціалізацію,В якій сфері працюєте?,Тип компанії,Загальний стаж роботи за спеціальністю
0,11.30.2022 10:26:37,"Так, працюю part-time",В Україні,Івано-Франківськ чи область,4000,Чоловік,29,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Blockchain,Стартап,8 років
1,11.30.2022 10:26:39,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,NaN,Чоловік,36,"Вища (бакалавр, спеціаліст, магістр)",Немає,Advanced,...,NaN,NaN,NaN,NaN,NaN,Ruby,Full Stack розробка,Public services / Government,Продуктова,3 роки
2,11.30.2022 10:26:58,"Так, працюю full-time",В Україні,Київ чи область,2500,Чоловік,34,"Вища (бакалавр, спеціаліст, магістр)",Немає,Elementary,...,NaN,NaN,NaN,NaN,NaN,C# / .NET,Full Stack розробка,"Adtech / Advertising, Security, Telecom",Продуктова,4 роки
3,11.30.2022 10:27:31,"Так, працюю full-time",В Україні,Львів чи область,500,Жінка,23,"Вища (бакалавр, спеціаліст, магістр)",Немає,Pre-Intermediate,...,NaN,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Telecom,Продуктова,Пів року
4,11.30.2022 10:27:34,"Ні, тимчасово не працюю",В Україні,Житомир чи область,2800,Жінка,33,"Вища (бакалавр, спеціаліст, магістр)",Немає,Upper-Intermediate,...,NaN,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Automotive,Продуктова,6 років
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13310,01.09.2023 11:01,"Так, працюю full-time",В Україні,Харків чи область,4000,Чоловік,25,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,"Так, використовую",TypeScript,QA,Medtech / Healthcare,Продуктова,6 років
13311,01.09.2023 11:14,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,3500,Чоловік,28,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,NaN,JavaScript,Front-end розробка,Blockchain,Аутсорсингова,5 років
13312,01.09.2023 11:19,"Так, працюю full-time",В Україні,Дніпро чи область,1930,Чоловік,25,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Blockchain, Fintech / Banking, Mobile",Аутсорсингова,3 роки
13313,01.09.2023 11:28,"Так, працюю full-time",В Україні,Одеса чи область,4500,Чоловік,31,Середня,Немає,Upper-Intermediate,...,NaN,NaN,NaN,NaN,NaN,JavaScript,Full Stack розробка,Mobile,Продуктова,8 років
13314,01.09.2023 11:38,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,4200,Чоловік,32,"Вища (бакалавр, спеціаліст, магістр)",Немає,Upper-Intermediate,...,NaN,NaN,NaN,NaN,NaN,PHP,Back-end розробка,"High Load Systems, Media",Аутстафінгова,11 років

2. Які колонки мають дані?

In [889]:
df.notna().any()

Timestamp                                                                     True
Ви працюєте зараз в ІТ?                                                       True
Де ви зараз живете?                                                           True
В якій області ви зараз живете?                                               True
Зарплата у $$$ за місяць, лише ставка після сплати податків                   True
Ваша стать                                                                    True
Ваш вік                                                                       True
Яка у вас освіта?                                                             True
Чи є у вас науковий ступінь?                                                  True
Знання англійської мови                                                       True
Оберіть вашу посаду                                                           True
Ваш тайтл                                                                     True
Ваша спеціалізація                                                            True
Вкажіть вашу спеціалізацію                                                    True
Оберіть вашу спеціалізацію                                                    True
Ваша посада                                                                   True
Оберіть вашу посаду2                                                          True
Ваша посада3                                                                  True
Ваша посада4                                                                  True
Ваша посада5                                                                  True
Ваша посада6                                                                  True
Ваша посада7                                                                  True
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?    True
Основна мова програмування                                                    True
Вкажіть вашу основну спеціалізацію                                            True
В якій сфері працюєте?                                                        True
Тип компанії                                                                  True
Загальний стаж роботи за спеціальністю                                        True
dtype: bool

3. Скільки рядків та колонок мають дані? Скільки пропущених значень має кожна з колонок?

In [890]:
display(df.shape)
df.isna().sum()

(13315, 28)

Timestamp                                                                         0
Ви працюєте зараз в ІТ?                                                           0
Де ви зараз живете?                                                               0
В якій області ви зараз живете?                                                1777
Зарплата у $$$ за місяць, лише ставка після сплати податків                      27
Ваша стать                                                                        0
Ваш вік                                                                           0
Яка у вас освіта?                                                                 0
Чи є у вас науковий ступінь?                                                    111
Знання англійської мови                                                           0
Оберіть вашу посаду                                                               0
Ваш тайтл                                                                         0
Ваша спеціалізація                                                            13156
Вкажіть вашу спеціалізацію                                                    10951
Оберіть вашу спеціалізацію                                                    12829
Ваша посада                                                                   13010
Оберіть вашу посаду2                                                          12755
Ваша посада3                                                                  12494
Ваша посада4                                                                  12830
Ваша посада5                                                                  13027
Ваша посада6                                                                  12962
Ваша посада7                                                                  13199
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?     8441
Основна мова програмування                                                     4255
Вкажіть вашу основну спеціалізацію                                             4256
В якій сфері працюєте?                                                            0
Тип компанії                                                                      0
Загальний стаж роботи за спеціальністю                                            0
dtype: int64

4. Які колонки мають всі значення заповненими (не мають дожного None значення)? Виведіть програмно список цих колонок.

In [891]:
no_missing_data = df.notna().all()
no_missing_data[no_missing_data == True]

Timestamp                                 True
Ви працюєте зараз в ІТ?                   True
Де ви зараз живете?                       True
Ваша стать                                True
Ваш вік                                   True
Яка у вас освіта?                         True
Знання англійської мови                   True
Оберіть вашу посаду                       True
Ваш тайтл                                 True
В якій сфері працюєте?                    True
Тип компанії                              True
Загальний стаж роботи за спеціальністю    True
dtype: bool

5. Який тип мають колонки в наборі даних? Які з колонок типу object логічно на ваш погляд перетворити на числові колонки?

In [892]:
df.dtypes

Timestamp                                                                     object
Ви працюєте зараз в ІТ?                                                       object
Де ви зараз живете?                                                           object
В якій області ви зараз живете?                                               object
Зарплата у $$$ за місяць, лише ставка після сплати податків                   object
Ваша стать                                                                    object
Ваш вік                                                                       object
Яка у вас освіта?                                                             object
Чи є у вас науковий ступінь?                                                  object
Знання англійської мови                                                       object
Оберіть вашу посаду                                                           object
Ваш тайтл                                                                     object
Ваша спеціалізація                                                            object
Вкажіть вашу спеціалізацію                                                    object
Оберіть вашу спеціалізацію                                                    object
Ваша посада                                                                   object
Оберіть вашу посаду2                                                          object
Ваша посада3                                                                  object
Ваша посада4                                                                  object
Ваша посада5                                                                  object
Ваша посада6                                                                  object
Ваша посада7                                                                  object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?    object
Основна мова програмування                                                    object
Вкажіть вашу основну спеціалізацію                                            object
В якій сфері працюєте?                                                        object
Тип компанії                                                                  object
Загальний стаж роботи за спеціальністю                                        object
dtype: object

Вважаю за доцільне змінити тип даних в наступних колонках:
- Зарплата у $$$ за місяць, лише ставка після сплати податків
- Ваш вік 
- Загальний стаж роботи за спеціальністю

6. Трансформуйте колонки 'Ваш вік', 'Зарплата у $$$ за місяць, лише ставка після сплати податків' у тип даних float. УВАГА! Перед трансформацією подивіться, які дані містять ці колонки. Аби успішно трансформувати тип даних, треба спочатку привести рядки до того виду, який буде підходити, аби потім рядок зробити типом float.

In [893]:
df_new = df.copy()

In [894]:
#Перетворюємо всі значення NaN на 0 в колонці 'Зарплата у $$$ за місяць, лише ставка після сплати податків'. 
#Колонка 'Ваш вік' не містить значення NaN, про що ми дізнались раніше, тому вона не потребує перетворення
df_new['Зарплата у $$$ за місяць, лише ставка після сплати податків'].fillna(0, inplace = True)

In [895]:
#Замінюємо кому на крапку в усіх значеннях для подальшого перетворення в тип даних float
df_new['Ваш вік'] = df_new['Ваш вік'].astype(str).str.replace(',', '.', regex=True).astype(float)
df_new['Зарплата у $$$ за місяць, лише ставка після сплати податків'] = (df_new['Зарплата у $$$ за місяць, лише ставка після сплати податків']
                                                                         .astype(str)
                                                                         .str.replace(',', '.', regex=True)
                                                                         .astype(float))

In [896]:
df_new[['Ваш вік', 'Зарплата у $$$ за місяць, лише ставка після сплати податків']].head(10)

   Ваш вік  Зарплата у $$$ за місяць, лише ставка після сплати податків
0     29.0                                             4000.0
1     36.0                                                0.0
2     34.0                                             2500.0
3     23.0                                              500.0
4     33.0                                             2800.0
5     31.0                                             5500.0
6     30.0                                             1400.0
7     24.0                                             1200.0
8     27.0                                              650.0
9     17.0                                                0.0

7. Це завдання з зірочкою! Нам треба транфсформувати колонку Timestamp у тип даних `datetime64[ns]`. Це не так просто як здається на першйий погляд :) Але це реальна ситуація, яка може трапитись при зборі даних в роботі аналітиком.
Я запропоную один зі способів виконати завдання, але ви можете написати по-своєму. Головне - отримати колонку - потрібного типу. 
Пропоную наступний алгоритм дій:
    1. Подивитись, які дані містяться в цій колонці. Виведіть перші і останні 5 записів. Чи однаковий формат цих даних? (спойлер: ні, бо інакше все було б просто :))
    2. Нам треба враховуючи різний формат даних перетворити рядок у колонці `Timestamp` на тип `datetime64[ns]`. Як це зробити? Для перетворення рядка на `datetime64` пропоную скористатись `datetime.datetime.strptime`.
    Для цього треба імпортувати бібліотеку `datetime`. Я пропоную написати функцію для обробки кожного окремого рядка, яка враховує довжину рядка і на основі цього застосовує різний формат даних дати.
    Як прописувати формат даних можна переглянути [тут](https://www.w3schools.com/python/python_datetime.asp).
    3. Коли функція для обробки кожного окремого рядка готова, застосуйте її для всіх даних з допомогою методу `apply`.

In [897]:
df_new.Timestamp

0        11.30.2022 10:26:37
1        11.30.2022 10:26:39
2        11.30.2022 10:26:58
3        11.30.2022 10:27:31
4        11.30.2022 10:27:34
                ...
13310       01.09.2023 11:01
13311       01.09.2023 11:14
13312       01.09.2023 11:19
13313       01.09.2023 11:28
13314       01.09.2023 11:38
Name: Timestamp, Length: 13315, dtype: object

In [898]:
#Оскільки маємо в даних два різних формати для запису дат, формуємо різні серії, які заповнюються значеннями, що відповідають формату,
#вказанному у функції to_datetime. Значення, що не відповідають формату, заповнюються пустими значеннями
date_1 = pd.to_datetime(df_new['Timestamp'], dayfirst=True, errors='coerce', format='%m.%d.%Y %H:%M:%S')
date_2 = pd.to_datetime(df_new['Timestamp'], dayfirst=True, errors='coerce', format='%d.%m.%Y %H:%M')

In [899]:
#Об'єднуємо наші серії, щоб пусті значення в першій серії заповнилися значеннями з другої серії і замінюємо цими даними колоночку
#Timestamp в DataFrame. На виході отримуємо дати в форматі datetime64[ns] з однаковим форматом відображення.
df_new.Timestamp = date_1.fillna(date_2)
df_new.Timestamp

0       2022-11-30 10:26:37
1       2022-11-30 10:26:39
2       2022-11-30 10:26:58
3       2022-11-30 10:27:31
4       2022-11-30 10:27:34
                ...
13310   2023-09-01 11:01:00
13311   2023-09-01 11:14:00
13312   2023-09-01 11:19:00
13313   2023-09-01 11:28:00
13314   2023-09-01 11:38:00
Name: Timestamp, Length: 13315, dtype: datetime64[ns]

In [900]:
#Перевіряємо, чи всі строчки в нас заповнені датами, щоб переконатись, що в нас було тільки 2 різних формату запису дати.
df_new.Timestamp.isna().unique()

array([False])

8. Для колонок типу даних object (які такими лишились після всіх наших трансформацій) виведіть кількість унікальних значень.

In [901]:
df_new[df_new.dtypes[df_new.dtypes == 'object'].index].nunique()

Ви працюєте зараз в ІТ?                                                          5
Де ви зараз живете?                                                              2
В якій області ви зараз живете?                                                 23
Ваша стать                                                                       2
Яка у вас освіта?                                                                5
Чи є у вас науковий ступінь?                                                     3
Знання англійської мови                                                          5
Оберіть вашу посаду                                                             22
Ваш тайтл                                                                       10
Ваша спеціалізація                                                               8
Вкажіть вашу спеціалізацію                                                       4
Оберіть вашу спеціалізацію                                                      21
Ваша посада                                                                     15
Оберіть вашу посаду2                                                             7
Ваша посада3                                                                     7
Ваша посада4                                                                     5
Ваша посада5                                                                     6
Ваша посада6                                                                     2
Ваша посада7                                                                     4
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?       2
Основна мова програмування                                                      33
Вкажіть вашу основну спеціалізацію                                              12
В якій сфері працюєте?                                                        1768
Тип компанії                                                                     6
Загальний стаж роботи за спеціальністю                                          19
dtype: int64

9. Для колонок типу даних object виведіть топ 10 найбільш частих значень з кількістю рядків, в яких це значення зустрічається. Зробіть це для кожної колонки окремо. Наприклад, в циклі.  
Що цікавого бачите? Які висновки можна зробити? Що особисто Вас вразило?

In [902]:
not_object_dtype_columns = df_new.dtypes[df_new.dtypes != 'object'].index.to_list()
not_object_dtype_columns

['Timestamp',
 'Зарплата у $$$ за місяць, лише ставка після сплати податків',
 'Ваш вік']

In [903]:
for column in df_new.columns:
    not_object_dtype_columns = df_new.dtypes[df_new.dtypes != 'object'].index.to_list()
    if column not in not_object_dtype_columns:
        res = df_new[column].value_counts().head(10)
        print(f'{res}\n')

Ви працюєте зараз в ІТ?
Так, працюю full-time      12643
Ні, тимчасово не працюю      380
Так, працюю part-time        152
Так, я фрилансер             115
Інше                          25
Name: count, dtype: int64

Де ви зараз живете?
В Україні                                                      11587
За кордоном (переїхали через війну, але планую повернутися)     1728
Name: count, dtype: int64

В якій області ви зараз живете?
Київ чи область                4411
Львів чи область               2353
Дніпро чи область               751
Івано-Франківськ чи область     478
Вінниця чи область              447
Одеса чи область                443
Харків чи область               355
Полтава чи область              252
Черкаси чи область              232
Хмельницький чи область         230
Name: count, dtype: int64

Ваша стать
Чоловік    10221
Жінка       3094
Name: count, dtype: int64

Яка у вас освіта?
Вища (бакалавр, спеціаліст, магістр)    10645
Дві вищі                                 1002
Ще студент вишу                           811
Середня                                   447
Середня спеціальна                        410
Name: count, dtype: int64

Чи є у вас науковий ступінь?
Немає                  12980
Кандидат наук / PhD      216
Доктор наук                8
Name: count, dtype: int64

Знання англійської мови
Upper-Intermediate    5538
Intermediate          4475
Advanced              1622
Pre-Intermediate      1401
Elementary             279
Name: count, dtype: int64

Оберіть вашу посаду
Software Engineer (Junior, Middle, Senior, Team/Tech Lead, Architect)             6773
QA Engineer (Junior, Middle, Senior, Team/Tech Lead, Manager)                     2364
Project/Product/Program Manager, Product Owner, Scrum Master, Delivery Manager     821
HR/Recruiter                                                                       560
Designer / Artist (Graphic, UX/UI, Game, Artist, Sound etc.)                       486
Analyst (Business, Data, System)                                                   485
DevOps, SRE                                                                        353
Marketing, SEO, Copywriter                                                         305
Data Science, Machine Learning, Big Data                                           288
Game Developer / Programmer                                                        160
Name: count, dtype: int64

Ваш тайтл
Middle            4710
Senior            3400
Junior            2316
Team Lead          883
Немає тайтлу       571
Tech Lead          430
Manager            375
Head               250
Intern/Trainee     240
Architect          140
Name: count, dtype: int64

Ваша спеціалізація
Programmer                       89
Gameplay Programmer              42
Engine Programmer                 8
.NET Programmer                   6
Ul Programmer                     4
Rendering/Graphics Programmer     4
Al Programmer                     3
Інше                              3
Name: count, dtype: int64

Вкажіть вашу спеціалізацію
Manual QA         1467
Automation QA      531
General QA         354
Performance QA      12
Name: count, dtype: int64

Оберіть вашу спеціалізацію
UI/UX Designer              201
Product Designer             60
3D Artist                    40
2D Artist                    35
Graphic / Video Designer     33
Game Designer                20
Designer                     15
Animator                     14
Other                        12
Web Designer                 11
Name: count, dtype: int64

Ваша посада
Other                            44
Marketing Manager                44
SEO Specialist                   34
Digital Marketing Manager        33
Copywriter                       27
Chief Marketing Officer (CMO)    22
Employer Brand Manager           20
SMM Manager                      20
PR Manager                       16
Product Marketing Manager        11
Name: count, dtype: int64

Оберіть вашу посаду2
Recruiter                             201
HR Manager                            131
Talent Acquisition Manager             52
Talent Researcher/Sourcer              51
HR Director                            45
HR Business Partner                    40
People partner / Happiness manager     40
Name: count, dtype: int64

Ваша посада3
Project Manager     443
Product Manager     135
Delivery Manager     88
Product Owner        67
Scrum Master         42
Program Manager      29
Business Manager     17
Name: count, dtype: int64

Ваша посада4
Business Analyst    289
Data Analyst        106
Product Analyst      34
System Analyst       32
BI Analyst           24
Name: count, dtype: int64

Ваша посада5
Data Engineer / Big Data Engineer    104
Data Scientist                        93
Machine Learning Engineer             46
Computer Vision Engineer              21
Research Engineer                     15
BI Engineer                            9
Name: count, dtype: int64

Ваша посада6
DevOps Engineer              325
Site Reliability Engineer     28
Name: count, dtype: int64

Ваша посада7
CTO                        41
Director of Engineering    33
CEO, (co-) founder         28
Program Director           14
Name: count, dtype: int64

Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?
Ні, не використовую    2754
Так, використовую      2120
Name: count, dtype: int64

Основна мова програмування
JavaScript    1695
Java          1241
Python        1190
TypeScript    1179
C# / .NET     1179
PHP            627
Kotlin         286
C++            251
Swift          221
SQL            201
Name: count, dtype: int64

Вкажіть вашу основну спеціалізацію
Back-end  розробка               2847
Full Stack розробка              1628
Front-end  розробка              1628
QA                               1079
Mobile  розробка                  665
Робота з даними, аналіз даних     558
DevOps                            308
Інше                              293
Embedded                           49
embedded                            2
Name: count, dtype: int64

В якій сфері працюєте?
Інша                    1445
E-commerce              1243
Fintech / Banking        942
Medtech / Healthcare     547
GameDev                  449
Gambling                 352
Edtech / Education       250
Telecom                  232
Mobile                   200
Adtech / Advertising     193
Name: count, dtype: int64

Тип компанії
Аутсорсингова    5593
Продуктова       4940
Аутстафінгова    1767
Стартап           539
Інша              355
Фріланс           121
Name: count, dtype: int64

Загальний стаж роботи за спеціальністю
3 роки               1608
4 роки               1447
2 роки               1427
5 років              1351
1,5 року             1056
6 років               982
1 рік                 922
7 років               791
10 років              599
15 і більше років     586
Name: count, dtype: int64

Аналіз отриманих результатів.

1. Суттєва більшість спеціалістів, які взяли участь в опитуванні, залишаються в Україні. Зрозуміло, що левова частка опитаних це чоловіки, які не мають наразі можливості виїхати за кордон.
2. Всього 1/4 опитаних спеціалістів жіночої статі. На сьогодні, мені здається, це відношення може мати інше значення, оскільки за останні 1.5 року було створено багато програм, як державних, так і від приватних шкіл, спрямованих саме на навчання жінок. Було б цікаво перевірити цю гіпотезу.
3. Найбільшою популярністю в частині проживання користуються Київ та Київська обл, Львів та Львівська область.
4. Приємно здивувало, що в рівнях знання англійської мови рівень Upper-Intermediate переважає над Intermediate. В цілому більша частина опитаних володіє англійською не менше ніж Pre-Intermediate, що означає, що без знань англійської мови буде дуже складно знайти роботу.
5. В цілому дуже здивована невеликою кількістю спеціалістів в напрямі Analyst. Це менше 4 % від загальної кількості опитаних. Це може вказувати на те, що посада Analyst є перспективною.
6. Найчастіше опитані спеціалісти мають тайтл Middle, що корелює з найчастішим показникам стажу роботи, а саме 3 роки. Це можна пояснити скороченням витрат в компаніях - краще мати вже досвідченого спеціаліста рівня Middle з середньою ЗП, ніж тримати Senior за великі гроші або витрачати кошти та час на навчання Junior.
7. В колонці "Чи використовуєте ви у своїй роботі мови програмування (одну чи кілька)?" більш значущою можна вважати саме негативну відповідь, оскільки вона відображає реальну картину. Щодо позитивної відповіді, більшість тих хто дійсно використовує мови програмування просто проігнорували цю колонку, вказавши далі вже конкретну назву.
8. Серед основних мов програмування лідує JavaScript, а Python посідає третю сходинку, не сильно відрізняючись за значеннями від Java, що розташувалася на 2 місці.
9. Дуже здивована кількістю Full Stack розробників. Я була впевнена, що їх точно має бути менше ніж чистих Front-end розробників. Це може свідчити, що спеціалісти намагаються стати більш конкурентними серед багатох існуючих Front-end та Back-end девелоперів.

10. Виведіть медіанну (медіана - це значення, менше якого є рівно 50% вибірки і більше якого є теж рівно 50% вибірки)
ЗП (Зарплата у $$$) для кожного рівня знання англійської. Які висновки можна зробити?

In [904]:
df_new.groupby('Знання англійської мови')['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median()

Знання англійської мови
Advanced              3500.0
Elementary            1155.0
Intermediate          2100.0
Pre-Intermediate      1400.0
Upper-Intermediate    3300.0
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

З отриманих даних можна зробити однозначний висновок, що чи більший рівень англійської мови, тим більша заробітня плата.

11. Є така штука як сортування значень категоріальної змінної. Нам це зараз стане в нагоді, адже рівні англійської можна посортувати. 
Давайте відсотруємо рівні англ. і тайтли. Просто запустіть код нижче і проаналізуйте, що він робить.

In [905]:
df_new['Знання англійської мови'] = pd.Categorical(df_new['Знання англійської мови'], 
                      categories=['Elementary','Pre-Intermediate','Intermediate','Upper-Intermediate','Advanced'],
                      ordered=True)

df_new['Ваш тайтл'] = pd.Categorical(df_new['Ваш тайтл'], 
                      categories=['Intern/Trainee', 'Junior', 'Немає тайтлу', 'Middle', 'Senior', 'Tech Lead', 'Team Lead', 'Architect', 'Head', 'Manager'],
                      ordered=True)

12. Зробіть зводну таблицю, де стовпці - це 'Ваш тайтл', рядки - 'Знання англійської мови', а значення - медіанна ЗП. Які висновки можна зробити?
Тут ще для зручності можна зробити градієнтне забарвлення і відформатувати значення для легшого перегляду.

In [906]:
pivot_eng_title_salary = df_new.pivot_table(index=['Знання англійської мови'], 
                                            columns=['Ваш тайтл'], 
                                            values=['Зарплата у $$$ за місяць, лише ставка після сплати податків'],
                                            aggfunc='median')

pivot_eng_title_salary.style.format("{:.2f}").background_gradient(axis=0)

Абсолютно чітко бачимо, що з рівнем знань англійської мови зростає і заробітна плата по всіх, без виключення, тайтлах.

13. Виведіть результат методу describe() для топ 5 за частотою зустрічання в даних областей (В якій області ви зараз живете?). Зробіть висновки, де вигідніше жити з точки зору ЗП і чи суттєва різниця на Ваш погляд для прийняття рішення про переїзд?

In [907]:
regions = df_new['В якій області ви зараз живете?'].value_counts().head().index
regions
for region in regions:
    print(f"{region}: {df_new[df_new['В якій області ви зараз живете?'] == region]['Зарплата у $$$ за місяць, лише ставка після сплати податків'].describe()}\n")

Київ чи область: count     4411.000000
mean      3141.810209
std       2039.859712
min         80.000000
25%       1500.000000
50%       2800.000000
75%       4500.000000
max      16000.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

Львів чи область: count     2353.000000
mean      3121.441751
std       2102.721295
min        150.000000
25%       1375.000000
50%       2700.000000
75%       4500.000000
max      14000.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

Дніпро чи область: count      751.000000
mean      2582.584554
std       1864.711284
min        100.000000
25%       1025.000000
50%       2000.000000
75%       3600.000000
max      12000.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

Івано-Франківськ чи область: count      478.000000
mean      2705.257322
std       1905.673385
min        200.000000
25%       1200.000000
50%       2372.500000
75%       3775.000000
max      12436.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

Вінниця чи область: count      447.000000
mean      2888.306085
std       1902.668331
min        100.000000
25%       1300.000000
50%       2612.000000
75%       4100.000000
max      11675.000000
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

Враховуючи отримані дані, вважаю, що різниця в середній заробітній платні не значуща для прийняття рішення про переїзд до Київської або Львівської області, які мають найвищі показники, бо треба враховувати, що вартість життя в цих локаціях також є дорожчою і фактично "з'їсть" весь профіт.

14. Як зростає зарплата з роками? Для цього нам треба відформатувати колонку "Загальний стаж роботи за спеціальністю" аналогічно до того, як ми це робили для колонки 'Знання англійської мови' і потім вивести медіанні значення для кількості років стажу.

In [908]:
cat = df_new['Загальний стаж роботи за спеціальністю'].unique()
ordered_cat = ['Менше як 3 місяці', '3 місяці', 'Пів року', '1 рік', '1,5 року', '2 роки', '3 роки', '4 роки', '5 років',
              '6 років', '7 років', '8 років', '9 років', '10 років', '11 років', '12 років', '13 років', '14 років', '15 і більше років']
df_new['Загальний стаж роботи за спеціальністю'] = pd.Categorical(df_new['Загальний стаж роботи за спеціальністю'],
                                                                 categories=ordered_cat,
                                                                 ordered=True)
cat

array(['8 років', '3 роки', '4 роки', 'Пів року', '6 років', '1,5 року',
       '1 рік', '2 роки', '5 років', '10 років', 'Менше як 3 місяці',
       '11 років', '7 років', '15 і більше років', '3 місяці', '12 років',
       '9 років', '14 років', '13 років'], dtype=object)

In [909]:
pivot_eng_title_salary = df_new.pivot_table(index=['Загальний стаж роботи за спеціальністю'], 
                                            columns=['Ваш тайтл'], 
                                            values=['Зарплата у $$$ за місяць, лише ставка після сплати податків'],
                                            aggfunc='median')

pivot_eng_title_salary.style.format("{:.2f}").background_gradient(axis=0)

В цілому бачимо, що зі збільшенням стажу роботи, заробітна плата збільшується але це на стільки явно виражено в порівнянні з тим, як збільшується заробітна плата із покращенням рівня знань англійської мови. Можна припустити, що це в цілому через набагато більший об'єм знань, які потрібні для якісної роботи і чи розвивається спеціаліст з роками на стільки, щоб заслуговувати збільшення заробітної плати. Також слід враховувати загальну тенденцію в фінансових політиках компаній, оскільки через кризу, компанії можуть скорочувати фонд заробітньої плати і тому її рівень, навіть для спеціалістів з великим досвідом.

Далі тут можна зробити багато аналогічних агрегацій, проаналізувати, в який час люди заповнювали форму, хто більше отримує, Business Analyst, чи Data Analyst. Я вас заохочувати не стримувати свій інтерес і покапати ці дані далі :)

###  Проаналізуємо, в які години найчастіше заповнювалася форма.

In [910]:
df_new.Timestamp.dt.hour.value_counts()

Timestamp
12    1498
13    1159
14    1131
11    1082
16    1066
17    1045
15     987
10     738
18     656
19     600
21     518
23     498
20     498
22     480
0      334
9      308
1      207
8      152
2      103
7       86
3       61
6       49
4       37
5       22
Name: count, dtype: int64

За результатами бачимо, що найчастіше форма заповнювалася між 11 та 17 годинами, тобто в робочій час, скоріше за все, після вранішніх та до вечірніх мітінгів. Перевіримо нашу гепотизу, проаналізувавши в які дні тижна найчастіше заповнювалась форма

In [911]:
df_new['День тижня'] = df_new.Timestamp.dt.day_name()
df_new['День тижня'].value_counts()

День тижня
Wednesday    4160
Tuesday      2222
Monday       2108
Saturday     1643
Thursday     1457
Friday       1127
Sunday        598
Name: count, dtype: int64

За результатами бачимо, що дійсно, найчастіше форма заповнювалась в середу, вівторок та понеділок. Виведемо значення і відсотках

In [912]:
df_new['День тижня'].value_counts(normalize=True)

День тижня
Wednesday    0.312430
Tuesday      0.166879
Monday       0.158318
Saturday     0.123395
Thursday     0.109425
Friday       0.084641
Sunday       0.044912
Name: proportion, dtype: float64

### Проаналізуємо середню заробітну плату спеціалістів у сфері аналізу даних.

In [913]:
df_new.groupby('Ваша посада4').agg({'Зарплата у $$$ за місяць, лише ставка після сплати податків':'mean'}).style.format("{:.2f}")

За результатами бачимо, що найвища середня ЗП у Business Analyst, натомість Data Analyst отримують значно менше.

### Проаналізуємо скільки в середньому заробляють спеціалісти, в залежності від мови програмування?

In [914]:
df_new['Основна мова програмування'].fillna('Інша мова', inplace=True)
cat_lang = df_new['Основна мова програмування'].unique()


df_new['Основна мова програмування'] = pd.Categorical(df_new['Основна мова програмування'],
                                                                 categories=cat_lang,
                                                                 ordered=True)

In [915]:
result = df_new.groupby('Основна мова програмування', observed=True).agg({'Зарплата у $$$ за місяць, лише ставка після сплати податків':'mean'})
result.sort_values(by='Зарплата у $$$ за місяць, лише ставка після сплати податків', ascending=False).style.format("{:.2f}")

Схоже, що чим менш розповсюджена мова, тим більше отримують грошей спеціалісти, що володіють такою мовою. Або ми просто маємо нерепрезентативну вибірку. Давайте перевіримо.

In [916]:
df_new['Основна мова програмування'].value_counts(ascending=True).head(10)

Основна мова програмування
Haskell               1
Flex / Flash / AIR    2
APL                   2
Objective-C           4
ABAP                  5
Erlang                5
Clojure               6
Perl                  6
Pascal/Delphi         9
R                     9
Name: count, dtype: int64

Як бачимо, дійсно 5 з 10 найменш представлених мов потрапили до списку з самими високими зарплатами. Але з огляду на дуже незначну кількість їх представленості по відношеню до загальної кількості заповнивших форму, вважаю, що не варто їх враховувати.

###  Як розподіляються посади за статтю. Яка різниця в заробітній платі між жінками та чоловіками при однаковому знанні англійської мови та однаковому тайтлі
Для аналізу візьмемо найпоширеніші серед опитаних рівень англійської "Upper-Intermediate" та тайтл "Middle"

In [917]:
#Будуємо сводну таблицю розподілу за статтю по кожній посаді
pivot_position_gender_lang_title = (df_new.pivot_table(index=['Оберіть вашу посаду'], 
                                                       columns=['Ваша стать'], 
                                                       values=['Timestamp'], 
                                                       aggfunc='count'))
pivot_position_gender_lang_title

                                                   Timestamp
Ваша стать                                             Жінка Чоловік
Оберіть вашу посаду
Analyst (Business, Data, System)                       210.0   275.0
Customer Success                                        35.0    13.0
DBA                                                      2.0    25.0
Data Science, Machine Learning, Big Data                48.0   240.0
Designer / Artist (Graphic, UX/UI, Game, Artist...     232.0   254.0
DevOps, SRE                                             11.0   342.0
ERP/CRM                                                 14.0    23.0
Game Developer / Programmer                             17.0   143.0
HR/Recruiter                                           513.0    47.0
HTML Coder                                               5.0    51.0
Hardware Engineer                                        NaN     9.0
Legal                                                    3.0     9.0
Marketing, SEO, Copywriter                             196.0   109.0
Project/Product/Program Manager, Product Owner,...     321.0   500.0
QA Engineer (Junior, Middle, Senior, Team/Tech ...     840.0  1524.0
Sales Manager                                           39.0    51.0
Security Specialist                                      5.0    38.0
Software Engineer (Junior, Middle, Senior, Team...     529.0  6244.0
Support                                                 46.0   112.0
SysAdmin                                                 1.0    87.0
Technical writer                                        18.0    18.0
СTO, Director of Engineering, Program Director,...       9.0   107.0

За результатами видно, що, в цілому, чоловіки переважають майже по всіх посадах окрім двох, а саме HR/Recruiter та Marketing, SEO, Copywriter. Найбільша різниця по Software Engineer (Junior, Middle, Senior, Team/Tech Lead, Architect). А в Hardware Engineer не представлена жодна жінка.

In [918]:
#Визначемо функцію, яка порахує середню заробітну плату по кожній з посад для жінок та чоловіків
def mean_salary(position, gender):
    res_w = (df_new[(df_new['Ваша стать'] == gender) 
                   & (df_new['Оберіть вашу посаду'] == position) 
                   & (df_new['Знання англійської мови'] == 'Upper-Intermediate') 
                   & (df_new['Ваш тайтл'] == 'Middle')]['Зарплата у $$$ за місяць, лише ставка після сплати податків'].mean())
    return res_w

In [919]:
#Застосувавши функцію mean_salary, формуємо словники, які міститимуть в якості ключів назву посади, а в якості значень середню ЗП для жінок та чоловіків
position_mean_salary_women_dict = {}
position_mean_salary_men_dict = {}
for gen in df_new['Ваша стать'].unique():
    for elem in df_new['Оберіть вашу посаду'].unique():
        res = mean_salary(elem, gen)
        if gen == 'Жінка':
            position_mean_salary_women_dict[elem] = res
        else:
            position_mean_salary_men_dict[elem] = res

In [920]:
#На основі отриманих словників створюємо серії, де в якості індексів будуть назви посад, а в якості значень середня ЗП та сортуємо за індексом в алфавітному порядку
position_mean_salary_women_series = pd.Series(position_mean_salary_women_dict).sort_index()
position_mean_salary_men_series = pd.Series(position_mean_salary_men_dict).sort_index()

In [921]:
#Об'єднуємо отримані серії в один датафрейм
df_gender_mean_salary_lan_title = pd.DataFrame({'Жінки': position_mean_salary_women_series, 'Чоловіки': position_mean_salary_men_series})
df_gender_mean_salary_lan_title.style.format("{:.2f}")

Отримані значення nan в деяких ячейках означають, що по даній посаді відсутні респонденти по одному з критерії початкової фільтрації. Тобто або не представлені в посаді взагалі, або мають рівень знання англійської не 'Upper-Intermediate', або мають тайтл відмінний від 'Middle'. Надалі ми не братимо до уваги посади, які мають хоча б одне значення nan

In [922]:
df_gender_mean_salary_lan_title_notnan = df_gender_mean_salary_lan_title[(df_gender_mean_salary_lan_title['Жінки'].notnull()) 
                                & (df_gender_mean_salary_lan_title['Чоловіки'].notnull())]
df_gender_mean_salary_lan_title_notnan.style.format("{:.2f}")

In [923]:
#Виводимо різницю між середніми ЗП жінок та чоловіків на аналогічних посадах
df_gender_mean_salary_lan_title_notnan.diff(axis= 1)['Чоловіки'].astype(dtype=np.int_)

Analyst (Business, Data, System)                                                 -147
Customer Success                                                                   33
Data Science, Machine Learning, Big Data                                          590
Designer / Artist (Graphic, UX/UI, Game, Artist, Sound etc.)                      376
DevOps, SRE                                                                       381
ERP/CRM                                                                           900
Game Developer / Programmer                                                       105
HR/Recruiter                                                                      321
Legal                                                                             575
Marketing, SEO, Copywriter                                                        173
Project/Product/Program Manager, Product Owner, Scrum Master, Delivery Manager    154
QA Engineer (Junior, Middle, Senior, Team/Tech Lead, Manager)                     200
Sales Manager                                                                     195
Security Specialist                                                              -174
Software Engineer (Junior, Middle, Senior, Team/Tech Lead, Architect)             388
Support                                                                           489
Technical writer                                                                  860
Name: Чоловіки, dtype: int64

За результатами обчислень бачимо, що, за рідким виключенням, чоловіки отримують більшу заробітну платню ніж жінки, перебуваючи на одній і тій же посаді, з однаковим рівнем знання англійської мови та однаковим тайтлом.

### В компанії якого типу респонденти мають більшу ЗП в розрізі спеціальностей
Для аналізу будемо рахувати значення медіани

In [924]:
df_new['Тип компанії'].unique()
df_new['Тип компанії'] = pd.Categorical(df_new['Тип компанії'],
                                       categories=df_new['Тип компанії'].unique())

In [927]:
pivot_type_position_salary = df_new.pivot_table(index='Оберіть вашу посаду', 
                                                columns='Тип компанії', 
                                                values='Зарплата у $$$ за місяць, лише ставка після сплати податків',
                                                aggfunc='median')
pivot_type_position_salary.style.format("{:.2f}").background_gradient(axis=0)

In [928]:
pivot_type_position_salary.sum().idxmax()

'Продуктова'

За результатами аналізу можемо сказати, що немає тотального домінування в зарплатах по всіх напрямках у жодного типу компанії.  Але, в цілому, лідирують саме продуктові компанії.
Із цікавого для мене, це найвища медіана ЗП у фріланс спеціалістів по спеціальності Data Science, Machine Learning, Big Data.